<div id="page-inner">
   
<div class="row">
                    <div class="col-md-12">
                     <h2>Teste de avaliação</h2>   
                        <h5>Felipe Oliveira - felipe.devel@gmail.com</h5>
                       
                    </div>
                </div>
    
    
   
<div class="row">
                    <div class="col-md-12">
                     
                        <strong>Tecnologia:</strong>
                        PHP5 |  HTML5 |  CSS3 | Bootstrap | Jquery | Mysql
                       
                    </div>
                </div>
    
    
       
<div class="row">
                    <div class="col-md-12">
                     
                        <strong>Tempo de desenvolvimento:</strong>
                        10 Horas
                       
                    </div>
                </div>
    
    
    <div class="row">
                    <div class="col-md-12">
                     
                        <strong>FrameWork:</strong>
                        CakePHP
                       
                    </div>
                </div>
    
    
    
      <div class="row">
                    <div class="col-md-12">
                     
                        <strong>Versionamento:</strong>
                        GIT
                       
                    </div>
                </div>
    
    
       <div class="row">
                    <div class="col-md-12">
                     
                        <strong>IDE de desenvolvimento:</strong>
                        NETBEANS 8.5
                       
                    </div>
                </div>
    
    
     <div class="row">
                    <div class="col-md-12">
                     
                        <strong>Versão PHP:</strong>
                        5.4.2
                       
                    </div>
                </div>
    
    <div class="row">
                    <div class="col-md-12">
                     
                        <strong>Versão MySql:</strong>
                        5.4.2
                       
                    </div>
                </div>
</div>